.sponsor {
  float: left;
  height: 200px;
  width: 100%;
  padding: 40px;
  background: #1B3C59;
  h2 {
    text-align: center;
    color: white;
  }
  .sponsor_image {
    ul {
      text-align: center;
      li {
        display: inline-block;
        list-style: none;
        img {
          height: 30px;
          margin: 20px;
        }
      }
    }
  }
}
